rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /tasks/{taskId} {

      allow get, list: if signedIn() 
        && resource.data.userId == request.auth.uid;

      allow create: if signedIn()
        && request.resource.data.userId == request.auth.uid
        && request.resource.data.title is string
        && request.resource.data.title.size() > 0
        && request.resource.data.status in ['todo', 'doing', 'done']
        && request.resource.data.priority in ['low', 'medium', 'high']
        && request.resource.data.order is number;

      allow update: if signedIn()
        && resource.data.userId == request.auth.uid
        && request.resource.data.userId == resource.data.userId
        && isValidOptionalString(request.resource.data, 'title', 1, 200)
        && isValidOptionalStatus(request.resource.data, 'status')
        && isValidOptionalPriority(request.resource.data, 'priority')
        && isValidOptionalNumber(request.resource.data, 'order')
        && isValidOptionalString(request.resource.data, 'description', 0, 2000)
        && isValidOptionalDate(request.resource.data, 'dueDate');

      allow delete: if signedIn()
        && resource.data.userId == request.auth.uid;

    }

    match /shopping-lists/{listId} {

      allow get, list: if signedIn() 
        && resource.data.userId == request.auth.uid;

      allow create: if signedIn()
        && request.resource.data.userId == request.auth.uid
        && request.resource.data.name is string
        && request.resource.data.name.size() > 0
        && request.resource.data.items is list;

      allow update: if signedIn()
        && resource.data.userId == request.auth.uid
        && request.resource.data.userId == resource.data.userId
        && request.resource.data.name is string
        && request.resource.data.items is list;

      allow delete: if signedIn()
        && resource.data.userId == request.auth.uid;

    }


    function signedIn() {
      return request.auth != null;
    }

    function isValidOptionalString(data, field, minLen, maxLen) {
      return !data.keys().hasAny([field]) 
        || (data[field] is string 
            && data[field].size() >= minLen 
            && data[field].size() <= maxLen);
    }

    function isValidOptionalStatus(data, field) {
      return !data.keys().hasAny([field]) 
        || data[field] in ['todo', 'doing', 'done'];
    }

    function isValidOptionalPriority(data, field) {
      return !data.keys().hasAny([field]) 
        || data[field] in ['low', 'medium', 'high'];
    }

    function isValidOptionalNumber(data, field) {
      return !data.keys().hasAny([field]) 
        || data[field] is number;
    }

    function isValidOptionalDate(data, field) {
      return !data.keys().hasAny([field]) 
        || (data[field] is string 
            && data[field].matches('^[0-9]{4}-[0-9]{2}-[0-9]{2}$'));
    }

  }
}
